
         body{
            background: url('background.jpg') 100%;
         }

         #validation_from{
           width:700px;
           height: 430px;
           border:2px solid black;
           border-radius: 4px;
           margin:auto;
           padding: 10px;
           margin-top: 5%;
           background: #fbfbfb; 
         }

         #validation_from > input{
           float:left;
           width:700px;
           padding: 10px;
           margin-top:2px;
           margin-bottom: 2px;
         }

         #validation_from > input[type="text"],#validation_from > input[type="password"],#validation_from > input[type="date"],#validation_from > input[type="password"]{
            border: 1px solid #ddd;
            -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
            box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
            background-color: #fff;
            color: #32373c;
            outline: 0;
            -webkit-transition: 50ms border-color ease-in-out;
            transition: 50ms border;
            background: #fbfbfb;   
         }

         #validation_from > input[type="submit"]{
            background: #008ec2;
            border-color: #006799;
            color: #fff;
            font-size: 20px;
            height: 38px;
            margin: 0;
            margin-top: 10px;
            padding: 0 10px 1px;
            border-width: 1px;
            border-style: solid;
            border-radius: 3px;
            box-sizing: border-box;            
         }

         #validation_from > input.fill-require{
            border-color:red;
         }

         #validation_from > #reset{
            text-decoration: none;
            color:black;
            font-size: 18px;
         }

         #validation_from > #reset:hover{
            color:#008ec2;
         }         